In [1]:
from config import CONFIG
from storageutils import MySQLManager

In [4]:
query = 'insert into students values("{}", "{}", "{}", {}, "{}", "{}");'.format("suresh", "34", "male", 3, "ece", "2020")
try:
    res = MySQLManager.execute_query(query, None, **CONFIG['database']['gnits'])
except Exception as error:
    print(error)

In [7]:
query = 'update students set study_year = {} where studentname = "{}";'.format(4, "suresh")
try:
    res = MySQLManager.execute_query(query, None, **CONFIG['database']['gnits'])
except Exception as error:
    print(error)

In [9]:
query =  'select count(*) as total from students;'

try:
    res = MySQLManager.execute_query(query, None, **CONFIG['database']['gnits'])
    res = res[0]['total']
except Exception as error:
    print(error)

res

2

In [ ]:
# csv
# studentname | rollnumber | study_year | gender | course | joined year 
# "kumar"     | "32"       | 3          | "male" | "cse"  | "2020"

# mydata = [row for row in csv.reader(open(filename))]

# # json
# mydata = json.load(open(filename))
# mydata = [
#     {
#             "studentname": "kumar",
#             "rollnumber": "1232",
#             "study_year": 4,
#             "gender": "male",            
#             "course": "cse",
#             "joinedyear": "2023"
#         }
# ]

In [22]:
from faker import Faker
import numpy as np
import random

fake = Faker()
fixed_digits = 6
courses_list = ['Computer science', 'Mechanical', 'Chemical', 'Electronics and Communications']

def faker_data_generator(num=1, study_year=1, seed=None):
    fake.seed_instance(seed)
    output = []
    for x in range(num):
      gender = np.random.choice(["Male", "Female"], p=[0.5, 0.5])
      given_name = fake.first_name_male() if gender=="Male" else fake.first_name_female()
      surname = fake.last_name()
      generated_name = given_name + ' ' + surname
      output.append(
        {
            "studentname": generated_name,
            "rollnumber": x + 300,
            "study_year": study_year,
            "gender": gender,            
            "course": random.choice(courses_list) + ' ' + "Engineering",
            "joinedyear": 2023
        }
      )
    return output

In [23]:
students_data = faker_data_generator(250, 2)
table = 'students'
cols = ['studentname', 'rollnumber', 'study_year', 'gender', 'course', 'joinedyear']
data = []
for item in students_data:
    x = {}
    x['studentname'] = item['studentname']
    x['rollnumber'] = str(item['rollnumber'])
    x['study_year'] = item['study_year']
    x['gender'] = item['gender']
    x['course'] = item['course']
    x['joinedyear'] = item['joinedyear']
    data.append(x)
    if len(data) > 200:
        MySQLManager.bulk_insert(table, cols, data, **CONFIG["database"]["gnits"])
        data = []
MySQLManager.bulk_insert(table, cols, data, **CONFIG["database"]["gnits"])

49